@import "../vars.css";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: var(--color-dark);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-text);
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li {
  margin: 0 15px;
}

.navLinks a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.navLinks a:hover {
  color: var(--color-primary);
}
